/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
 
.app-form form.submitted > .ng-pristine, .ng-dirty.ng-invalid,
          ng-dirty.ng-error.required {
  border-color: red;
}

.app-form .ng-dirty.ng-valid {
}

.error {
  color: red
}

body {
  margin: 0px;
  padding: 0px;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

td {
  padding: 5px;
  text-align: left;
  vertical-align: baseline;
}
 
th {
  padding: 5px;
  text-align: left;
  vertical-align: bottom;
}

.center {
  text-align: center;
}
