<div ng-controller="ApplianceTabCtrl">
 <h4>Appliances</h4>
 <br/>
 <table>
  <tr>
   <!--th>Id</th-->
   <th>Title</th>
   <th>On</th>
   <th>Controller</th>
   <th></th>
   <th></th>
  </tr>
  <tr ng-repeat="appliance in appliances">
{{newAppliance}}
   <!--td>{{appliance.id}}</td-->
   <form name="appFormWrapper" novalidate>
   <td>
    <span ng-hide="appliance.edit">
     {{appliance.title}}
    </span>
    <span ng-show="appliance.edit">
     <ng-form name="$parent.appForm1" class="app-form" novalidate>
      <input type="text" name="appTitle" ng-model="newAppliance.title" required />
     </ng-form>
    </span>
   </td>
   <td>
    <input type="checkbox" ng-model="appliance.displayStatus" ng-change="toggleApplianceStatus($index)" ng-disabled="! appliance.editable"/>
   </td>
   <td>
    <span ng-hide="appliance.edit" class="errorClass">
     {{controllingMoteTitle($index)}}
    </span>
    <span ng-show="appliance.edit">
     <ng-form name="$parent.appForm2" class="app-form" novalidate>
      <select name="appMoteId" ng-model="newAppliance.controlling_mote_id" ng-options="mote.id as mote.title for mote in motes" ng-disabled="! appliance.editable" class="errorClass" required>
       <option value="">Select mote</option>
      </select>
    </ng-form>
    </span>
   </td>
   <td>
    <button type="button" ng-click="editAppliance($index)" ng-disabled="! appliance.editable">{{appliance.edit ? 'Enter' : 'Edit'}}</button>
   </td>
   <td>
    <span ng-hide="appliance.confirmDelete">
     <button type="button" ng-click="confirmDeleteAppliance($index, true)" ng-disabled="appliance.edit || (! appliance.editable)">X</button>
    </span>
    <span ng-show="appliance.confirmDelete" class="center">
     <div>
      Delete entry
     </div>
     <div>
      <button type="button" ng-click="confirmDeleteAppliance($index, false)" ng-disabled="appliance.edit">Cancel</button>
      <button type="button" ng-click="deleteAppliance($index)" ng-disabled="appliance.edit">OK</button>
     </div>
    </span>
   </td>
  </form>
  </tr>
  <tr>
   <td/>
   <td/>
   <td/>
   <td>
    <span ng-hide="edit">
     <button type="button" ng-click="addNewAppliance()">New</button>
    </span>
   </td>
  </tr>
 </table>
 <br/>
</div>
