<div ng-controller="ControlRuleTabCtrl">
 <h4>Control Rules</h4>
 <br/>
 <!-- 
  Control rules are derived from simple forms that define
  * Time constraints
  * Sensor thresholds (with implied hysteresis, strong defaults)
  Rules applied in simple logical combinations
 -->
 <ul ng-controller="ControlRuleTabCtrl">
  <li ng-repeat="controlrule in controlrules">
   {{'id: ' + controlrule.id + ', title: ' + controlrule.title}}
   <div ng-repeat="action in controlrule.actions">
    {{'appliance_id: ' + action.appliance_id + ', set_status: ' + action.set_status}}
   </div>
   <div ng-repeat="condition in controlrule.conditions">
    {{'mote_id: ' + condition.mote_id + ', sensor_id: ' + condition.sensor_id + ', operator: ' + condition.operator + ', value: ' + condition.value}}
   </div>
  </li> 
 </ul>
 <p>
  Showing of 'interpolate' filter:
  {{'Current version is v%VERSION%.' | interpolate}}
 </p>
</div>
