<div ng-controller='MeasureTabCtrl'>
 <h4>Measures</h4>
 <br/>
 <table>
  <tr>
   <!--th>Id</th-->
   <th>Title</th>
   <th>Unit</th>
   <!--th>Hysteresis</th-->
   <!--th>Display</th-->
   <th></th>
  </tr>
  <tr ng-repeat="measure in measures">
   <form name="newMeasureForm" class="app-form" novalidatedd>
    <!--td>{{measures[measures.length - 1].id + 1}}</td-->
    <td>
     <span ng-hide="measure.edit">
      {{measure.title}}
     </span>
     <span ng-show="measure.edit">
      <ng-form name="$parent.measureForm1" class="appForm" novalidate>
       <input type="text" name="measureTitle" ng-model="newMeasure.title" required />
      </ng-form>
     </span>
    </td>
    <td>
     <span ng-hide="measure.edit">
      {{measure.unit}}
     </span>
     <span ng-show="measure.edit">
      <ng-form name="$parent.measureForm2" class="appForm" novalidate>
       <input type="text" name="measureUnit" ng-model="newMeasure.unit" required />
      </ng-form>
     </span>
    </td>
    <!--td><input type="text" ng-model="newMeasure.hysteresis" /></td-->
    <!--td><input type="checkbox" ng-model="newMeasure.display" /></td-->
    <td>
     <button type="button" ng-click="editMeasure($index)" ng-disabled="! measure.editable">{{measure.edit ? 'Enter' : 'Edit'}}</button>
    </td>
    <td>
     <span ng-hide="measure.confirmDelete">
      <button type="button" ng-click="confirmDeleteMeasure($index, true)" ng-disabled="measure.edit || (! measure.editable)">X</button>
     </span>
     <span ng-show="measure.confirmDelete" class="center">
      <div>Delete entry</div>
      <div>
       <button type="button" ng-click="confirmDeleteMeasure($index, false)" ng-disabled="mote.edit">Cancel</button>
       <button type="button" ng-click="deleteMeasure($index)" ng-disabled="mote.edit">OK</button>
      </div>
     </span>
    </td>
   </form>
  </tr>
  <tr>
   <td/>
   <td/>
   <td>
    <span ng-hide="measureEdit">
     <button type="button" ng-click="addNewMeasure()">Add</button>
    </span>
   </td>
  </tr>
 </table>
</div>
