<div ng-controller='MeasureTabCtrl'>
 <h4>Measures</h4>
 <br/>
 <table>
  <tr>
   <th>Id</th>
   <th>Title</th>
   <th>Unit</th>
   <th>Display</th>
   <th></th>
  </tr>
  <tr ng-repeat="measure in measures">
   <td>{{measure.id}}</td>
   <td>{{measure.title}}</td>
   <td>{{measure.unit}}</td>
   <td><input type="checkbox" ng-model="measure.display" /></td>
   <td><button type="button" ng-click="deleteMeasure($index)">X</button></td>
  </tr>
  <tr>
   <td>{{measures[measures.length - 1].id + 1}}</td>
   <td><input type="text" ng-model="newMeasure.title" /></td>
   <td><input type="text" ng-model="newMeasure.unit" /></td>
   <td><input type="checkbox" ng-model="newMeasure.display" /></td>
   <td><button type="button" ng-click="addNewMeasure()">Add</button></td>
  </tr>
 </table>
</div>
