<div ng-controller="WindowTabCtrl">
<!-- 
 Control rules are derived from simple forms that define
 * Time constraints
 * Sensor thresholds (with implied hysteresis, strong defaults)
 Rules applied in simple logical combinations
 Save/Load rule sets

 Time Constraints
 * [Choose clock]
 * [Force refresh of clock (cron job updates clock daily)]
 * Choose day range
 * Choose time window
 * Duration of signal, or until reset
 * Dead time after end of signal during which signal cannot be repeated

 To do:
 * Allow entries to be edited in place

-->
 <h4>Time Windows</h4>
 <table>
  <tr>
   <!--th>Id</th-->
   <th>Description</th>
   <th>Days</th>
   <th>Start</th>
   <th>End</th>
   <th><div>Action<div></div>Duration</div></th>
   <th>Dead Time</th>
   <th/>
   <th/>
  </tr>
  <tr ng-repeat="window in windows">
   <!--td>{{window.id}}</td-->
   <form name="windowForm" class="app-form" novalidate>
    <td>
     <span ng-hide="window.edit">
      {{window.title}}
     </span>
     <span ng-show="window.edit">
      <input type="text" ng-model="editWindow.title" />
     </span>
    </td>
    <td>
     <span ng-hide="window.edit">
      {{which_days(binary2logical(window.days))}}
     </span>
     <span ng-show="window.edit">
      <div ng-repeat="day in day_names">
       <input type="checkbox" ng-model="editWindow.days[$index]" />{{day}}
      </div>
      <br/>
      <div>
       <input type="checkbox" ng-model="editWindow.weekdays" ng-change="setEditWeekdays()" />weekday
      </div>
      <div>
       <input type="checkbox" ng-model="editWindow.weekend" ng-change="setEditWeekend()" />weekend
      </div>
     </span>
    </td>
    <td>
     <span ng-hide="window.edit">
      {{ms2HHMM(window.start).join(':')}}
     </span>
     <span ng-show="window.edit">
      <select ng-model="editWindow.startHour" ng-options="hour for hour in hours"></select>
      <select ng-model="editWindow.startMinute" ng-options="minute for minute in minutes"></select>
     </span>
    </td>
    <td>
     <span ng-hide="window.edit">
      {{ms2HHMM(window.end).join(':')}}
     </span>
     <span ng-show="window.edit">
      <select ng-model="editWindow.endHour" ng-options="hour for hour in hours"></select>
      <select ng-model="editWindow.endMinute" ng-options="minute for minute in minutes"></select>
     </span>
    </td>
    <td>
     <span ng-hide="window.edit">
      {{displayDuration(window.duration).join(' ')}}
     </span>
     <span ng-show="window.edit">
      <div>
       <select ng-model="editWindow.durationOption" ng-options="durationOption for durationOption in durationOptions" >
       </select>
      </div>
      <div ng-hide="editWindow.durationOption === 'until reset'">
       <select ng-model="editWindow.signalDuration" ng-options="sigDuration for sigDuration in durations" >
       </select>
       <span ng-show="editWindow.signalDuration == 1">
        <select ng-model="editWindow.signalTimescale" ng-options="timescale.short as timescale.singular for timescale in timescales" >
        </select>
       </span>
       <span ng-hide="editWindow.signalDuration == 1">
        <select ng-model="editWindow.signalTimescale" ng-options="timescale.short as timescale.plural for timescale in timescales" >
        </select>
       </span>
      </div>
     </span>
    </td>
    <td>
     <span ng-hide="window.edit">
      {{displayDeadTime(window.deadTime).join(' ')}}
     </span>
     <span ng-show="window.edit">
      <div ng-hide="editWindow.durationOption === 'until reset'">
       <div>No repeat for:</div>
        <div>
         <select ng-model="editWindow.deadTimeDuration" ng-options="deadTime for deadTime in deadTimes">
         </select>
         <span ng-show="editWindow.deadTimeDuration == 1">
          <select ng-model="editWindow.deadTimeTimescale" ng-options="timescale.short as timescale.singular for timescale in timescales">
          </select>
         </span>
         <span ng-hide="editWindow.deadTimeDuration == 1">
          <select ng-model="editWindow.deadTimeTimescale" ng-options="timescale.short as timescale.plural for timescale in timescales">
          </select>
         </span>
        </div>
       </div>
     </span>
    </td>
    <td>
     <button type="button" ng-click="editWindowInPlace($index)" ng-disabled="!window.editable">
      {{window.edit ? "Enter" : "Edit"}}
     </button>
    </td>
    <td>
     <span ng-hide="window.confirmDelete">
      <button type="button" ng-click="confirmDeleteWindow($index, true)" ng-disabled="!window.editable || window.edit">X</button>
     </span>
     <span ng-show="window.confirmDelete" class="center">
      <div>
       Delete entry 
      </div>
       <button type="button" ng-click="confirmDeleteWindow($index, false)">Cancel</button>
       <button type="button" ng-click="deleteWindow($index)">OK</button>
      </div>
     </span>
    </td>
   </form>
  </tr>
  <tr>
   <td/>
   <td/>
   <td/>
   <td/>
   <td/>
   <td/>
   <td>
    <span ng-hide="editWindow.edit">
     <button type="button" ng-click="addWindow()" ng-disabled="editWindow.edit">New</button>
    </span>
   </td>
  <tr/>
 </table>
</div>
